<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Все пользователи системы</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Логин</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Отчество</th>
            <th scope="col">Почта</th>
            <th scope="col">Дата рождения</th>
            <th scope="col">Телефон</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td>
                <a class="text-link text-blue" th:href="'/users/profile/' + ${user.getId()}" th:text="${user.getLogin()}"></a>
            </td>
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getMiddleName()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getBirthDate()}"></td>
            <td th:text="${user.getPhone()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>